*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poppins-font{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}

/* shared design */
.display-flex {
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: #E02C6D;
    border: none;
    padding: 10px 24px;
    gap: 8px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}


/* main design */
header {
    padding-top: 3.3125rem;
}

img {
    width: 100%;
}

.navbar {
    max-width: 1200px;
    width: 83%;
    margin: 0 auto;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.nav-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3A3A3A;
}

.nav-links {
    align-items: center;
    gap: 2.125rem;
    list-style-type: none;
}

.nav-links a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

/* hero section design */
.hero {
    max-width: 1200px;
    width: 83%;
    margin: 0 auto;
    align-items: center;
    gap: 8.125rem;
}

.hero-content {
    max-width: 582px;
    text-align: left;
}

.hero-title {
    color: #3A3A3A;
    font-size: 3.25rem;
    line-height: 4.375rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.hero-description{
    color: #3A3A3A;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.hero-pic {
    background-image: url("./images/Circle\ design.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
}

.main-camera {
    max-width: 440px;
}

.sponsors {
    max-width: 1110px;
    width: 77%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.card-section {
    max-width: 1050px;
    width: 72%;
    margin: 0 auto;
    text-align: center;
}

.card-title {
    color: #3A3A3A;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 70px;
    margin-bottom: 30px;
}

.cards-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.cards {
    /* border: 1px solid red; */
    padding: 17px 14px 27px ;
    text-align: left;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.cards h2 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
    color: black;
    margin-bottom: 6px;
}

.cards img {
    margin-bottom: 16px;
}

.cards .price {
    font-size: 1.5rem;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 20px;
}

.cards p {
    font-size: 1rem;
    line-height: 143%;
    letter-spacing: 1.8%;
    color: #3A3A3A;
    margin-bottom: 20px;
}

.card-btn-container{
    display: flex;
    justify-content: end;
}

.card-btn {
    padding: 0;
    margin-top: 50px;
    color: rgba(224, 44, 109, 0.87);
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}